@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(to bottom, #000080, #1b1b1b);
  color: #000000;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
