@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-gradient-to-b dark:from-gray-600 dark:via-gray-800 dark:text-black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
