@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(to bottom, #6b6b6b, #242424);
  color: #000000;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* 🌈 Rainbow Text Animation */
@keyframes rainbow {
  0%   { color: red; }
  16%  { color: orange; }
  33%  { color: yellow; }
  50%  { color: green; }
  66%  { color: blue; }
  83%  { color: indigo; }
  100% { color: violet; }
}

.rainbow-text {
  animation: rainbow 8s linear infinite;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 15;
  font-size: 20px; /* adjust this size as needed */
  color: #75FBFD;
  vertical-align: middle;
  display: inline-block;
  margin-right: 4px; /* optional spacing between icon and text */
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 15;
  font-size: 20px; /* adjust this size as needed */
  color: #03b1b4;
  vertical-align: middle;
  display: inline-block;
  margin-right: 4px; /* optional spacing between icon and text */
}